<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recuperar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/duoc.jpg" alt="duoc-logo">
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Usuario"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" fill="outline" routerLink ="/login" onclick=" MensajeCargaRecuperar();">Recuperar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
